omerProject/WebApplication1/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" />
  <xs:element name="AddGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="game" nillable="true" type="q1:GamesClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintGamesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintGamesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="PrintGamesListResult" nillable="true" type="q2:ArrayOfGamesClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintPlayersList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintPlayersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="PrintPlayersListResult" nillable="true" type="q3:ArrayOfPlayrsClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="trainer" nillable="true" type="q4:TrainersClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTrainerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="trainer" nillable="true" type="q5:TrainersClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTrainerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTrainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="trainer" nillable="true" type="q6:TrainersClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTrainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="SelectTrainerResult" nillable="true" type="q7:TrainersClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTrainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="trainer" nillable="true" type="q8:TrainersClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTrainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTrainerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintTrainersLinst">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintTrainersLinstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="PrintTrainersLinstResult" nillable="true" type="q9:ArrayOfTrainersClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTraining">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="train" nillable="true" type="q10:TrainingClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrainingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTrainingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTraining">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="train" nillable="true" type="q11:TrainingClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrainingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTrainingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTraining">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="trainer" nillable="true" type="q12:TrainingClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTrainingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="SelectTrainingResult" nillable="true" type="q13:TrainingClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintTraningList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintTraningListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="PrintTraningListResult" nillable="true" type="q14:ArrayOfTrainingClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLeague">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="league" nillable="true" type="q15:LeaguesClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLeagueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLeagueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLeague">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="league" nillable="true" type="q16:LeaguesClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLeagueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLeagueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLeague">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="league" nillable="true" type="q17:LeaguesClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLeagueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="SelectLeagueResult" nillable="true" type="q18:LeaguesClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLeaguesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintLeaguesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="PrintLeaguesListResult" nillable="true" type="q19:ArrayOfLeaguesClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLeague">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="league" nillable="true" type="q20:LeaguesClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLeagueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLeagueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="player" nillable="true" type="q21:PlayrsClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPlayerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="player" nillable="true" type="q22:PlayrsClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePlayerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="player" nillable="true" type="q23:PlayrsClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePlayerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="player" nillable="true" type="q24:PlayrsClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="SelectPlayerResult" nillable="true" type="q25:PlayrsClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="game" nillable="true" type="q26:GamesClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="game" nillable="true" type="q27:GamesClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="game" nillable="true" type="q28:GamesClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="SelectGameResult" nillable="true" type="q29:GamesClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTraining">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="train" nillable="true" type="q30:TrainingClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTrainingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTrainingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="user" nillable="true" type="q31:LoginClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signUpResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="user" nillable="true" type="q32:LoginClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainersSalaryBySeniority">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainersSalaryBySeniorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="GetTrainersSalaryBySeniorityResult" nillable="true" type="q33:ArrayOfTrainersClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeaguesChartData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeaguesChartDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="GetLeaguesChartDataResult" nillable="true" type="q34:ArrayOfLeaguesClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeakPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeakPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/omerWCF.App_Code" minOccurs="0" name="GetWeakPlayersResult" nillable="true" type="q35:ArrayOfPlayrsClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWinCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLossCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLossCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLossCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>